<!doctype html>
<html>
  <head>
    <title>Snippets</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">


    <link rel="stylesheet" type="text/css" href="bulma.css">
    <link rel="stylesheet" type="text/css" href="forms.css">
    <link rel="stylesheet" type="text/css" href="userprofile.css">
    <link rel="stylesheet" type="text/css" href="search.css">
    
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">



  </head>
  <body>
    <%- include('partials/header') %>

    
    
      
    <div class="overlay" id="create-form-overlay">
      <div class="create-form">
        <button type="button" class="delete is-large" onclick="toggleCreateForm()"></button>
        <h2 class="title is-4">Create Snippet</h2>
        <form action="/create" method="POST">
          <div class="field">
            <label class="label" for="name">Name:</label>
            <div class="control">
              <input class="input" type="text" id="name" name="name" required>
            </div>
          </div>
          <div class="field">
            <label class="label" for="description">Description:</label>
            <div class="control">
              <textarea class="textarea" id="description" name="description" rows="3" required></textarea>
            </div>
          </div>
          <div class="field">
            <label class="label" for="language">Language:</label>
            <div class="control">
              <div class="select">
                <select id="language" name="language" required>
                  <option value="">Select a language</option>
                  <% languages.forEach(function(language) { %>
                    <option value="<%= language %>"><%= language %></option>
                  <% }); %>
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label" for="code">Code:</label>
            <div class="control">
              <textarea class="textarea" id="code" name="code" rows="10" required></textarea>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-primary" type="submit">Create</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    

    

  
    
    
         
         
         
         
         
         
         
          <div class="column is-8">



            
            <div class="snippet-list-container">

              <div class="container">
                <div class="columns">
                  <div class="column is-4">
                    <div class="buttons">
                      <button class="button is-primary" onclick="toggleCreateForm()">
                        <span class="icon">
                          <i class="fas fa-plus"></i>
                        </span>
                        <span>+ Add Snippet</span>
                      </button>
              
                      <div class="dropdown" id="snippet-counts-dropdown">
                        <div class="dropdown-trigger">
                          <button class="button hamburger-button" aria-haspopup="true" aria-controls="snippet-counts-menu" onclick="toggleSnippetCountsDropdown()">
                            <span class="icon">
                              <i class="fas fa-bars"></i>
                            </span>
                            <span>Snippet Counts</span>
                          </button>
                        </div>
                        <div class="dropdown-menu" id="snippet-counts-menu" role="menu">
                          <div class="dropdown-content">
                            <% for (let lang in snippetCounts) { %>
                              <a class="dropdown-item"><%= lang %>: <%= snippetCounts[lang] %></a>
                            <% } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
      
      <!-- Your existing content here -->
    

      
      
      

      
      
      
      
    
    <% if (snippets.length === 0) { %>
      <p>There are no snippets in the database.</p>
      <button onclick="toggleCreateForm()">Create New Snippet</button>
    <% } else { %>
      <ul id="snippets-list">
        <% snippets.forEach((snippet) => { %>
          <li>
            <div class="snippet" data-language="<%= snippet.language %>" data-created-at="<%= snippet.createdAt %>">
            <div class="snippet-header">
              
              <h2><a href="/snippet/<%= snippet._id %>"><%= snippet.name %></a></h2>
              
            </div>

            <div class="snippet-footer">
              <div class="snippet-author">
                <span>posted by: </span>
                <% if (snippet.owner) { %>
                  <span class="username"><%= snippet.owner.username %></span>
                  <span>last edited: <%= snippet.updatedAt.toLocaleString() %></span>
                <% } else { %>
                  <span>posted by: Unknown</span>
                  <span>last edited: Unknown</span>
                <% } %>
              </div>
              </div>

            <label class="snippet-description-label" for="snippet-description">description:</label>
            <div id="form-group" class="form-group" rows="5">
              <p class="snippet-description"><%= snippet.description %></p>
            </div>

            <label for="code-box"></label>
            <div class="code-wrapper">
              <div class="code-container">
                <div class="code-header">
                  <span class="code-lang"><%= snippet.language %></span>
                  <button class="copy-btn">Copy code</button>
                </div>
                <pre class="code-box"><%= snippet.code %></pre>
              </div>
            </div>
     
            
            
            

            <div class="button-container">
              <% if (user && (snippet.owner._id.toString() === user._id.toString() || user.isAdmin)) { %>
                <button onclick="toggleEditForm('<%- snippet._id %>')">Edit</button>
            
                <form action="/delete/<%= snippet._id %>" method="post" id="delete-form-<%= snippet._id %>">
                  <button type="submit" onclick="confirmDelete(event, 'delete-form-<%= snippet._id %>')">Delete</button>
                </form>
              <% } %>
            </div>
            
            

            <div class="snippet-comments">
              <a href="/snippet/<%= snippet._id %>">
                <span><%= snippet.commentCount %> <%= (snippet.commentCount === 1) ? 'comment' : 'comments' %></span>
              </a>
            </div>
            
            
            
            
            
            
            
            
            <div class="overlay" id="overlay-<%= snippet._id %>">
              <div class="edit-form" id="edit-form-<%= snippet._id %>">
                <button class="close-btn" type="button" onclick="toggleEditForm('<%= snippet._id %>')">X</button>
                <h2>Edit Snippet</h2>
                <form action="/edit/<%= snippet._id %>" method="POST">
                  <div class="form-group">
                    <input type="hidden" name="_method" value="PUT">
                    <input type="text" id="name" name="name" value="<%= snippet.name %>" required>
                    <label for="name">name</label>
                  </div>
                  <div class="form-group">
                    <textarea id="description" name="description" rows="3" required><%= snippet.description %></textarea>
                    <label for="description">description</label>
                  </div>
                  <div class="form-group">
                    <select id="language" name="language" required>
                      <option value="">Select a language</option>
                      <option value="javascript" <%= snippet.language === 'javascript' ? 'selected' : '' %>>JavaScript</option>
                      <option value="python" <%= snippet.language === 'python' ? 'selected' : '' %>>Python</option>
                      <option value="ruby" <%= snippet.language === 'ruby' ? 'selected' : '' %>>Ruby</option>
                      <option value="typescript" <%= snippet.language === 'typescript' ? 'selected' : '' %>>TypeScript</option>
                      <option value="command prompt" <%= snippet.language === 'command prompt' ? 'selected' : '' %>>Command Prompt</option>
                      <option value="powershell" <%= snippet.language === 'powershell' ? 'selected' : '' %>>PowerShell</option>
                      <option value="bash" <%= snippet.language === 'bash' ? 'selected' : '' %>>Bash</option>
                      <option value="html" <%= snippet.language === 'html' ? 'selected' : '' %>>HTML</option>
                      <option value="css" <%= snippet.language === 'css' ? 'selected' : '' %>>CSS</option>
                      <option value="sql" <%= snippet.language === 'sql' ? 'selected' : '' %>>SQL</option>
                      <option value="php" <%= snippet.language === 'php' ? 'selected' : '' %>>PHP</option>
                      <option value="java" <%= snippet.language === 'java' ? 'selected' : '' %>>Java</option>
                      <option value="c++" <%= snippet.language === 'c++' ? 'selected' : '' %>>C++</option>
                      <option value="c#" <%= snippet.language === 'c#' ? 'selected' : '' %>>C#</option>
                      <option value="swift" <%= snippet.language === 'swift' ? 'selected' : '' %>>Swift</option>
                      <option value="go" <%= snippet.language === 'go' ? 'selected' : '' %>>Go</option>
                      <option value="kotlin" <%= snippet.language === 'kotlin' ? 'selected' : '' %>>Kotlin</option>
                      <option value="rust" <%= snippet.language === 'rust' ? 'selected' : '' %>>Rust</option>
                      <option value="text" <%= snippet.language === 'text' ? 'selected' : '' %>>text</option>
                    </select>
                    <label for="language">language</label>
                  </div>
                  <div class="form-group">
                    <textarea name="code" class="code-textarea"><%= snippet.code %></textarea>
                    <label for="code">code</label>
                  </div>
                  <button type="submit">save</button>
                </form>
                
              </div>
            </div>
            </div>
          </li>
        <% }) %>
      </ul>
    <% } %>
 
 
  </div>
  </div>
  
  <script>
const languages = [
  'JavaScript',
  'Python',
  'Ruby',
  'TypeScript',
  'Command Prompt',
  'PowerShell',
  'Bash',
  'HTML',
  'CSS',
  'SQL',
  'PHP',
  'Java',
  'C++',
  'C#',
  'Swift',
  'Go',
  'Kotlin',
  'Rust',
  'text'
];

    document.addEventListener('DOMContentLoaded', () => {
      const navbarBurger = document.querySelector('.navbar-burger');
      navbarBurger.addEventListener('click', () => {
        const target = navbarBurger.dataset.target;
        const menu = document.getElementById(target);
        navbarBurger.classList.toggle('is-active');
        menu.classList.toggle('is-active');
      });
    });


    function toggleSnippetCountsDropdown() {
  const dropdown = document.getElementById("snippet-counts-dropdown");
  dropdown.classList.toggle("is-active");
}

  </script>
  
  

  

    <script src="index.js"></script>
    <script src="search.js"></script>
    
  </body>
</html>


